* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background-color: rgb(71, 74, 80);
}

.btn-cart {
    height: 40px;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    margin-right: 30px;
    margin-top: 5px;
    border-style: double;
}

.btn-cart:hover {
    background-color: rgb(133, 216, 144);
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.title {
    margin-bottom: 8px;
}

.price {
    margin: 8px 0;
}

.by-btn {
    padding: 7px 14px;
}

.by-btn:hover {
    background-color: rgb(133, 216, 144);
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prodSum {
    margin-top: 35px;
    margin-left: 50px;
}